bitacoras_pgsys/Web References/crear_cliente/crear_cliente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:ws_mysqlBitacora" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:ws_mysqlBitacora" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:ws_mysqlBitacora">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="datos_cliente_entrada">
        <xsd:all>
          <xsd:element name="empresa" type="xsd:string" />
          <xsd:element name="titulo" type="xsd:string" />
          <xsd:element name="descripcion" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="datos_cliente_salida">
        <xsd:all>
          <xsd:element name="codigo" type="xsd:string" />
          <xsd:element name="respuesta" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="crear_clienteRequest">
    <wsdl:part name="datos_cliente_entrada" type="tns:datos_cliente_entrada" />
  </wsdl:message>
  <wsdl:message name="crear_clienteResponse">
    <wsdl:part name="return" type="tns:datos_cliente_salida" />
  </wsdl:message>
  <wsdl:portType name="crear_clientePortType">
    <wsdl:operation name="crear_cliente">
      <documentation>Funcion para crear un cliente.</documentation>
      <wsdl:input message="tns:crear_clienteRequest" />
      <wsdl:output message="tns:crear_clienteResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="crear_clienteBinding" type="tns:crear_clientePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="crear_cliente">
      <soap:operation soapAction="urn:pgsyswsdl#crear_cliente" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:ws_mysqlBitacora" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ws_mysqlBitacora" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="crear_cliente">
    <wsdl:port name="crear_clientePort" binding="tns:crear_clienteBinding">
      <soap:address location="http://www.pgsys.cl/serverwsBitacora/crear_cliente.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>