bitacoras_pgsys/Web References/lista_clientes/lista_clientes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:ws_mysqlBitacora" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:ws_mysqlBitacora" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:ws_mysqlBitacora">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
      <xsd:complexType name="datos_cliente_entrada">
        <xsd:all>
          <xsd:element name="param1" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="Cliente">
        <xsd:all>
          <xsd:element name="cod_datos" type="xsd:string" />
          <xsd:element name="empresa_datos" type="xsd:string" />
          <xsd:element name="titulo_datos" type="xsd:string" />
          <xsd:element name="descripcion_datos" type="xsd:string" />
          <xsd:element name="ultmod_datos" type="xsd:string" />
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArregloDeClientes">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="SOAP-ENC:Array">
            <xsd:attribute wsdl:arrayType="tns:Cliente[]" ref="SOAP-ENC:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="arreglo_clientesRequest">
    <wsdl:part name="datos_cliente_entrada" type="tns:datos_cliente_entrada" />
  </wsdl:message>
  <wsdl:message name="arreglo_clientesResponse">
    <wsdl:part name="return" type="tns:ArregloDeClientes" />
  </wsdl:message>
  <wsdl:portType name="lista_clientesPortType">
    <wsdl:operation name="arreglo_clientes">
      <documentation>Este servicio retorna la lista de clientes.</documentation>
      <wsdl:input message="tns:arreglo_clientesRequest" />
      <wsdl:output message="tns:arreglo_clientesResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="lista_clientesBinding" type="tns:lista_clientesPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="arreglo_clientes">
      <soap:operation soapAction="urn:pgsyswsdl#arreglo_clientes" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" namespace="urn:ws_mysqlBitacoras" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" namespace="urn:ws_mysqlBitacoras" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="lista_clientes">
    <wsdl:port name="lista_clientesPort" binding="tns:lista_clientesBinding">
      <soap:address location="http://www.pgsys.cl/serverwsBitacora/lista_clientes.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>